<form (ngSubmit)="addNewGroup()">
  <fieldset>
    <legend>Create group</legend>
    <div class="form-block">
      <label>Name: <input type="text" name="groupName" [(ngModel)]="groupName"></label>
    </div>
    <button type="submit">Add group</button>
  </fieldset>
</form>
